{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"semi": ["error", "never"],
		"no-restricted-syntax": ["error", "WithStatement"]
	},
	"env": {
		"browser": false,
		"node": true
	}
}
